<header class="header">
    <nav class="navbar navbar-expand-sm navbar-light mb-2 max-width" style="background-color:#1f4747;">
        <div class="container-fluid">
            <a class="navbar-brand " style="color:wheat" href="#"> <img
                    src="https://library.kissclipart.com/20180905/kke/kissclipart-banking-clipart-investment-banking-clip-art-a11ec0af8fbedab7.png"
                    alt="" width="30" height="24" class="d-inline-block align-text-top"> ABC BANK
            </a>
        </div>
    </nav>
</header>
<h3>ATM Corner</h3>
<div class="d-flex justify-content-center align-items-center h-100">
    <div class="card" style="width: 18rem; height: 13rem;">
        <div class="card-body">
            <h5 class="card-title">Check Balance</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text"><strong>Check Balance using debit card details </strong></p>
            <a type="button" class="btn btn-primary btn-lg" routerLink="/atm-check-balance">Check Balance</a>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="card" style="width: 18rem; height: 13rem;">
            <div class="card-body">
                <h5 class="card-title">Withdraw Money</h5>
                <p class="card-text"><strong> Hassle Free Secured Money Withdraw Using Debit Card Details</strong></p>
                <a type="button" class="btn btn-primary btn-lg" routerLink="/atm-withdraw">Withdraw</a>

            </div>
        </div>
    </div>