<div class="container col-sm-8 mr-5">
    <div class="container mt-3">
        <h3>Pending Loan Requests</h3>
        <table class="table table-responsive-sm w-auto">
            <thead>
                <tr>
                    <th scope="col">Loan Id</th>
                    <th scope="col">Loan Type</th>
                    <th scope="col">Account Number</th>
                    <th scope="col">Gurantor Acc. No.</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Tenure</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let loan of pendingLoans">
                    <td scope="row">{{loan.loan_id}}</td>
                    <td>{{loan.loanCode}}</td>
                    <td><a [routerLink]="['/view-account', loan.accNo]">{{loan.accNo}}</a></td>
                    <td><a [routerLink]="['/view-account', loan.accNo]">{{loan.gurantorAccNo}}</a></td>
                    <td>{{loan.amount}}</td>
                    <td>{{loan.tenure}}</td>
                    <td><button class="btn btn-primary" (click)="onClickGrantLoan(loan)">Grant Loan</button>
                    </td>
                    <td><button class="btn btn-danger" (click)="onClickReject(loan.loan_id)">Reject
                            Loan</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>