<div class="container-fluid">
    <div class="row pt-2">

        <!--list-group-->

        <div class="list-group col-sm-2 p-2 ml-5">
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Create Account</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Account Summary</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Check Transactions</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Check Account Request</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Check ATM Request</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Check Loan Request</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Modify Loan's Rate</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Modify FD's Rate</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Modify RD's Rate</a>
        </div>
        <div class="col-sm-9 p-2 mr-2 bg-light">
            <!--Horizontal list-group-->
            <div class="list-group list-group-horizontal">
                <a href="#" class=" list-group-item list-group-item-action list-group-item-dark text-center">View
                    Customer</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-dark text-center">Manage
                    Interest Rate</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-dark text-center">Complete
                    Transaction List</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-dark text-center">Manage
                    Branch</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-dark text-center">Requests</a>
            </div>

            <table class="table">
                <tr>
                    <th>Account Number: </th>
                    <td>{{account.accNo}}</td>
                </tr>
                <tr>
                    <th>Account Type: </th>
                    <td>{{account.accType}}</td>
                </tr>
                <tr>
                    <th>Account Balance: </th>
                    <td>{{account.balance}}</td>
                </tr>
                <tr>
                    <th>IFSC Code: </th>
                    <td>{{account.ifscCode}}</td>
                </tr>
                <tr>
                    <th>Adhaar Number: </th>
                    <td>{{account.adhaarNumber}}</td>
                </tr>
                <tr>
                    <th>Phone Number Number: </th>
                    <td>{{account.phoneNumber}}</td>
                </tr>
                <tr>
                    <th>Introducer Account Number: </th>
                    <td>{{account.introducerAccountNo}}</td>
                </tr>
                <tr>
                    <th>Nominee Aadhar Number: </th>
                    <td>{{account.nomineeAdhaarNo}}</td>
                </tr>

            </table>

        </div>
    </div>
    <!--Horizontal list-group-->
</div>