<h3>List of Branches</h3>
<div class = "container mb-5">
    <div class ="container text-danger">{{message}}</div>
    <table class="table">
        <thead>
            
            <tr>
                <th>IFSC Code</th>
                <th>Branch Name</th>
                <th>Address</th>
                <th>Pin Code</th>
                <th>Branch Fund</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let branch of branches">
                <td>{{branch.ifscCode}}</td>
                <td>{{branch.branchName}}</td>
                <td>{{branch.address}}</td>
                <td>{{branch.pincode}}</td>
                <td>{{branch.branchFund}}</td>
                <td><button class="btn btn-primary" (click) = "depositToBranch(branch.ifscCode)" >Add To Branch Fund</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="addNewBranch()">Add Branch</button>
</div>