<div class="container col-sm-8 justify-content-center mt-4 py-4 ml-auto">
    <div class = "row  ml-auto">
        <div class="card ml-4" style="width: 15rem;">
            <img class="card-img-top" src="https://cdn.imgbin.com/9/21/6/imgbin-clerk-receptionist-adminstrative-assistant-s-XCGiJVxwR827rAxGvgTiTFicc.jpg" height = "200px"alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Admin</h5>
              <p class="card-text">Proceed to the Admin Section</p>
              <a routerLink="/app-admin-login" class="btn btn-primary">Let's Start</a>
            </div>
          </div>
          <div class="card  ml-4" style="width: 15rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-DGAOssfBfmL3Px8GKC9uVz1NLJpfkMr_LA&usqp=CAU" height = "200px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Customer</h5>
              <p class="card-text">Proceed to the Customer section</p>
              <a routerLink="/customer-signup" class="btn btn-primary">Let's Start</a>
            </div>
          </div>
          <div class="card  ml-4" style="width: 15rem;">
            <img class="card-img-top" src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/35380/atm-man-clipart-md.png" height = "200px" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">ATM</h5>
              <p class="card-text">Proceed to the ATM section</p>
              <a routerLink="/atm-homepage" class="btn btn-primary">Let's Start</a>
            </div>
          </div>
    </div>
    
</div>