<!--
   
<div class = "container col-sm-3 ml-1 my-3">
  <div class="list-group ">
    <a routerLink ='/listBranches' class="list-group-item list-group-item-action list-group-item-dark">Manage Branches</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Create Account</a>
    <a routerLink ="/viewCustomer" class="list-group-item list-group-item-action list-group-item-dark">View Customers</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Account Summary</a>
    <a routerLink ='/allTransactions' class="list-group-item list-group-item-action list-group-item-dark">Complete Transaction List</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Check Transactions</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Check Account Request</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Check ATM Request</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Check Loan Request</a>
    <a routerLink ="/change-interest" class="list-group-item list-group-item-action list-group-item-dark">Modify Rate</a>
  </div>
</div> -->     
